---
import ibm from '../images/brands/ibm.svg'
import laravel from '../images/brands/laravel.svg'
import tailwind from '../images/brands/tailwind.svg'
import mclaren from '../images/brands/mclaren.svg'
import huberman from '../images/brands/huberman.svg'
import github from '../images/brands/github.svg'

--- 
<script>
    import { gsap } from 'gsap';

    document.addEventListener('DOMContentLoaded', function () {
      const clonedContainer = document.querySelector('#cloned') as any
  
      // Clone the elements inside the `#cloned` div and append them
      const clone = clonedContainer.cloneNode(true);
      clonedContainer.appendChild(clone);
  
      // Create a timeline with GSAP for infinite scroll effect
      const tl = gsap.timeline({ repeat: -1 });
      tl.to(clonedContainer, {
        x: -(clonedContainer.scrollWidth / 2), // Move half the total width of the container
        duration: 30,
        ease: 'none'
      });
  
      // Add hover event for each item
      document.querySelectorAll('.brand-group img').forEach(item => {
        item.addEventListener('mouseenter', function () {
          tl.pause(); // Pause the timeline on hover
          gsap.to(item, { scale: 1.1, duration: 0.25 });
        });
  
        item.addEventListener('mouseleave', function () {
          tl.play(); // Resume the timeline after hover
          gsap.to(item, { scale: 1, duration: 0.25 });
        });
      });
    });
  </script>
  


<section>
    <div class="container flex-center">
      <div class="seen-on-text">
        <h3 class="text-bold">Trusted by</h3>
      </div>
        <div class="seen-on-brands">
            <div class="brand-group flex" id="cloned">
                <img src={ibm.src} alt="IBM">
                <img src={huberman.src} alt="Huberman">
                <img src={mclaren.src} alt="McLaren">
                <img src={tailwind.src} alt="Tailwind">
                <img src={laravel.src} alt="Laravel">
                <img src={github.src} alt="Github">
            </div>
        </div>
    </div>
</section>



<style>

section{
    background-color: #fff;
    position: relative;
    z-index: 10;
    padding: 30px 0;
    margin-top: 70px;
}

.seen-on-brands{
    overflow-x: hidden;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
}

.seen-on-text{
  width: 300px;
  padding-top: 15px;
}
.seen-on-text h3{
  font-size: 2rem;
}

.brand-group img{
    width: 180px;
}

 

@media (max-width: 700px) {
    .seen-on-text{
      margin: 0 auto;
      text-align: center;
    }
    .brand-group img{
        width: 150px;
    }
}

</style>