---

import featOne from '../images/shots/one.svg'
import featTwo from '../images/shots/two.svg'
import featThree from '../images/shots/three.svg'

import utils from '../utils'

const showcase = [
    { 
        title: '24/7 AI + Human Help',
        desc: `Get instant answers, campaign updates, and support anytime. Your marketing doesn’t sleep — and neither do we.`,
        image: featOne,
   },
   { 
        title: 'Less Busywork, More Growth',
        desc: `From email follow-ups to social posts, automation handles the grind. You focus on clients, we handle the execution.`,
        image: featTwo,
   },
   { 
        title: 'Clear, Simple, Always Updated',
        desc: `No confusing reports. Just clean numbers, weekly email updates, and live metrics — including how you stack up against competitors.`,
        image: featThree,
        url: utils.buy_link,
   }
]
---




<section>
    <div class="container" id="features">
       <div class="max-w-md m-auto text-center">
           <h2 class="text-lg">The New Way of Marketing</h2>
           <p class="text-sm">Forget slow agencies and messy reports. SuperChill gives you 24/7 support, built-in automation, and a live dashboard — everything you need to grow without the grind.</p>
       </div>


        <div class="items grid-half gap-3 mt-2">
            {showcase.map((item) => (
                <div class="item">
                    <div class="item-text">
                        <h3 class="text-lg">{item.title}</h3>
                        <p class="text-sm">{item.desc}</p>
                        {item.url && <a href={item.url} class="button button-primary" target="_blank">{utils.title}</a>}
                    </div>
                    <img src={item.image.src} alt={item.title} class="w-full" />
                </div>
            ))}
        </div>
    </div>
</section>


<style>




.items{
    padding-top: 50px;
}
.item{
    background-color: var(--offwhite);
    overflow: hidden;
    border-radius: var(--radius-lg);
    padding: 30px;
}
.item img{
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-alt);
}
.item .text-lg{
    font-size: 2.8rem;
}


.item:nth-child(3) {
  grid-column: 1 / -1; 
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}
.item:nth-child(3) .item-text {
  max-width: 90%;
}
.item:nth-child(3) img {
    box-shadow: none;
}


@media (max-width: 700px) {
    .items.grid-half{
        display: block ;
    }
    .item:nth-child(3) {
        display: block;
    }
}

</style>